<!doctype html>
{% load static%}
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href = "{% static 'css/demo.css'%}">
  </head>

  <body>
    
    <h1>Welcome To SINDHU NEWS Portal</h1>
    <img src="{% static 'images/news.png' %}" alt='SINDHU'>
    <ul>
      <li><a href="movies/">Movies Informaion</a></li>
      <li><a href="sports/">Sports Informaion</a></li>
      <li><a href="politics/">Politics Informaion</a></li>
    </ul>
  </body>
</html>