<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style> 
            h1{
                color:red;
            }
            h2{
                color:blue;
            }
        </style>
    </head>   
    <body>
        <h1>{{insert_msg}}</h1>
        <h2>Hello Guest Now The Server Time is: {{insert_date}}</h1>
            <ol>
                <li>Name:{{name}}</li>
                <li>Marks:{{marks}}</li>
                <li>Roll No::{{rollno}}</li>
            </ol>
    </body>
</html>